<div class='menu-new-mian'>
 <div class='menu-new-text'>
   献立をたてる
 </div>

 <div class='menu-new-calender'>
   <div class='menu-new-date'>
     <%= "#{@selected_date.strftime('%m月%d日')}(#{@selected_date.strftime('%a')})分の献立を作成"%> 
    </div>
 </div>    
