<h1>Recipes#index</h1>
<<<<<<< Updated upstream
<p>Find me in app/views/recipes/index.html.erb</p>
=======

<% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %> 
   <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
    <%= link_to "ログイン", new_user_session_path, class: "sign-up" %>
<% end %>  
>>>>>>> Stashed changes
