<%= render "shared/header" %>

<%# レシピ一覧 %>
 <div class='recipe-contents'>
   <ul class='recipe-lists'>
     <% @recipes.each do |recipe| %>
       <li class='-recipe-list'>
         <%= link_to recipe_path(recipe.id) do %>
           <div class='recipe-img-content'>
             <%= image_tag recipe.image, class: "recipe-img"%>
           </div>
           <div class='recipe-info'>
             <div class='recipe-title'>
               <%= recipe.title %>
             </div>
           </div> 
          <% end %>    
        </li>    
     <% end %>
   </ul>
 </div>    
