.recipe-show{
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.recipe-box{
  width: 80vw;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-box-img{
  width: 55vw;
  height: 48vh;
}

.datail-table{
  width: 60vh;
}

.datail-title{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.show-btn-contents{
  width: 100%;
  text-align: center;
}

.show-btn,.destroy-btn,.show-back-btn{
  background-color: lightgrey;
  border: 2px solid ;
  font-size: 15px;
  width: 100px;
  text-align: center;
  margin: 10px;
  text-align: center;
}

.datail-ingredients{
  font-size: 25px;
  margin: 20px 0 20px;
  font-weight: bold;
}

.datail-seasonings{
 font-size: 18px;
 margin-top: 10px;
 font-weight: bold;
}


.datail-steps{
  font-size: 25px;
  font-weight: 200;
  margin-top: 20px;
  font-weight: bold;
}

.datail-item{
  text-align: left;
  margin: 10px 0 20px;
  border-bottom: 1px dashed black;
  display: flex;
  justify-content: space-between;
}

.datail-quantity{
  text-align: right;

}